<p></p>
<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h4>Decorators works</h4>
</div>


<div class="container">
    <div class="questions">
        <h3>What are decorators in Angular?</h3>
        <a href="https://www.geeksforgeeks.org/what-are-decorators-in-angular/" target="_blank" style="color: rgb(255, 0, 0); text-decoration: none;">geeksforgeeks</a>
        <article>In Angular, decorators are functions that are used to modify the behavior of classes and their members. They provide a way to add metadata or apply transformations to code elements. In Angular, decorators are extensively used to define components, services, directives, pipes, modules, and more.
        </article>

    </div>
    <div class="questions">
    <h3>Types of Decorators in Angular</h3>
    <article>
        In Angular, there are four main types of decorators-

  1-  Class Decorators: Class decorators are applied to classes to modify their behavior or metadata. The examples include &commat;Component, &commat;Directive and &commat;NgModule. <br>

  2-  Property Decorators: Property decorators are applied to the class properties and are commonly used to modify the properties within the classes. For example, &commat;Input decorator makes a property as an input binding, allowing it to bound to the external data. <br>

3-   Method Decorators: Method decorators are applied to the class methods and modify their behavior or add additional functionalities. For example, &commat;HostListener allows us to listen for events on a method. <br>

    4- Parameter Decorators: The Parameter decorators are used for parameters inside class constructors. The parameter decorators provide additional information about constructor parameters. For example, The &commat;Inject decorator allows to specify dependencies for dependency injection.
    </article>
    </div>


   
</div>