<p>login-methods works!</p>

<h3>Type of Login</h3>
<ul>
    <li>Admin App => Routing => Layout</li>
    <li>Website Login</li>
</ul>


<p>There are two type of product you build in website.
    1st is like an admin application, like the website will have a login page as default screen. 
    The user will have login to access or use the application.

    On the other hand in case of website for some product, there also you'll have a login option, but it's not medatory to login into view the application.

    Like user can see the product can go to different pages.
    But once he has to buy then the login is mendatory.
    There will be only few menu changes after the login.
</p>
<h3>Mode of Login</h3>
<ul>
    <li>With Hard-code user Credentilas</li>
    <li>With API Integration</li>
</ul>
