<<<<<<< HEAD
.firstCell{
    color: red;
}

.secondCell{
    color: blue;
}

.parentContainer{
    margin-left: 1em;
=======
.firstCell{
    color: red;
}

.secondCell{
    color: blue;
}

.parentContainer{
    margin-left: 1em;
>>>>>>> master
}